.brainGif {
  margin-top: -15%;
  height: 65%;
  text-align: center;
  width: 90%;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


.slideTitle {
  margin-top: -5px;
}

.gifContainer {
  border: 3px solid #f1faee;
  padding: 20px;
  border-radius: 60px;
  box-shadow: 2px 6px 4px #233e4f;
  -webkit-animation: beat 1.5s ease-in-out 2.3s both;
  animation: beat 1.5s ease-in-out 2.3s both;
}

.instructions {
  border-radius: 50%;
  border: 1px solid #f1faee;
  width: 25px;
  height: 25px;
}

/* ==Click Reminder== */
@keyframes beat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
