.cycleContainer {
  background: rgb(14, 189, 192);
  background: linear-gradient(
    144deg,
    rgba(14, 189, 192, 1) 0%,
    rgba(35, 62, 79, 1) 100%
  );
  text-align: center;
  color: #f1faee;
  height: 100vh;
}
