.deleteUserContainer {
  position: absolute;
  display: grid;
  background: linear-gradient(
    144deg,
    rgba(14, 189, 192, 1) 0%,
    rgba(35, 62, 79, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  align-content: center;
  justify-items: center;
  text-align: center;
  color: #f1faee !important;
  z-index: 2;
}

.warning {
  text-align: center;
}

.mediaIcon {
  width: 65px;
}

.deleteCancelBtn {
  display: grid;
  align-content: center;
  height: 30px;
  padding: 20px;
  background-color: #f1faee;
  color: #00d1bb;
  border-radius: 24px;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 6px 4px #233e4f;
  width: 60%;
}

.displayWarning {
  color: #e56b6f;
}

.displayReset {
  color: #00d1bb;
}

.resetReset {
  color: #00d1bb;
}

.deleteUserBtn {
  padding: 20px;
  background-color: #f1faee;
  color: #e56b6f;
  border-radius: 24px;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 6px 4px #233e4f;
  width: 60%;
  margin-bottom: 10px;
}
