
.changeSubmit {
  background-color: rgba(0, 217, 255, 0);
  color: #f1faee;
  font-size: medium;
  border: 1px solid #f1faee;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.continuePainEditContainer {
  height: 100vh;
}



.editContinue {
  margin-left: 10px;
  margin-top: 20px;
  background-color: rgb(14, 189, 192);
  color: #f1faee;
  font-size: medium;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.wordbank {
  background-color: rgb(14, 189, 192);
  color: #f1faee;
  font-size: medium;
  margin-bottom: 5px;
  margin-left: 1.5px;
  margin-right: 1.5px;
  border-radius: 24px;
}

.wordbankClicked {
  background-color: rgb(33, 221, 224);
  color: #f1faee;
  font-size: medium;
  margin-bottom: 5px;
  margin-left: 1.5px;
  margin-right: 1.5px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.wordbankTwo {
  background-color: rgb(14, 189, 192);
  color: #f1faee;
  font-size: medium;
  margin-top: 8px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.finish {
  position: absolute;
  background-color: rgb(14, 189, 192);
  color: #f1faee;
  font-size: medium;
  height: 60px;
  width: 65%;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event {
  -webkit-animation: text-focus-in 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.editCope {
  -webkit-animation: text-focus-in 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.editTruth {
  -webkit-animation: text-focus-in 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.editResponse {
  -webkit-animation: text-focus-in 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* =====Animations===== */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
