/* ==Intro Master== */

.masterIntroContainer {
  position: absolute;
  display: grid;
  border-radius: 0px;
  background: rgb(14, 189, 192);
  background: linear-gradient(
    144deg,
    rgba(14, 189, 192, 1) 0%,
    rgba(35, 62, 79, 1) 100%
  );
  height: 100vh !important;
  width: 100vw;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f1faee;
  overflow: scroll;
  z-index: 2;
}

/* ==Intro B== */

.demographicOne {
  height: 80%;
}

.introBContainer {
  margin-top: 10px;
  border-radius: 24px;
  width: 90%;
  text-shadow: 2px 6px 4px #233e4f;
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.inputBContainer {
  display: grid;
  grid-template-columns: 2% 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
}

.introBSubmit {
  position: relative;
  background-color: #00d1bb;
  color: #f1faee;
  bottom: 10px;
  padding: 10px;
  border-radius: 24px;
  width: 65%;
  box-shadow: 2px 6px 4px #233e4f;
}

.otherSlideOver {
  margin-left: 24px;
}

/* ==CheckBox== */
.checkbox {
  margin-top: 1px !important;
}

.checkbox input {
  position: absolute;
  opacity: 0;
}

.checkbox .overlay {
  height: 24px;
  width: 24px;
  background-color: #f1faee;
  border-radius: 5px;
  border: 2px solid #00d1bb;
  transform: rotate(-90deg);
  transition: all 0.3s;
}

.checkbox .icon {
  color: #f1faee;
  display: none;
}

.checkbox input:checked ~ .overlay {
  background-color: #00d1bb;
  border-radius: 8px;
  transform: rotate(0deg);
  opacity: 1;
  border: 2px solid #00d1bb;
}

.checkbox input:checked ~ .overlay .icon {
  display: block;
}

/* ==Intro C== */
.conffessional {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.conffessionTime {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.introCContainer {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.triggerEvent {
  width: 40%;
}

/* ==Intro D== */
.introDContainer {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.selfReflection {
  width: 60%;
}

/* ==Intro E== */
.introEContainer {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.painBulb {
  width: 30%;
}

/* ==Pain Cycle== */
.sSetUp {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.painCycleContainer {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.swiperRight {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.swiperRight {
  width: 60%;
}

.remember {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.introPCSubmit {
  position: relative;
  background-color: #00d1bb;
  color: #f1faee;
  margin-top: 30px;
  bottom: 10px;
  padding: 10px;
  border-radius: 24px;
  width: 65%;
  box-shadow: 2px 6px 4px #233e4f;
}

.changeAndInfluence {
  width: 60%;
}

.painCycleSubmit {
  position: relative;
  background-color: #00d1bb;
  color: #f1faee;
  bottom: 10px;
  padding: 10px;
  border-radius: 24px;
  width: 65%;
  box-shadow: 2px 6px 4px #233e4f;
  margin-top: 10px;
}

/* ==Intro F== */

.introFContainer {
  align-items: center;
  text-align: center;
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.moveToPeace {
  width: 40%;
}

/* ==Intro G== */
.introGContainer {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.castedLightBulb {
  width: 30%;
}

/* ==Intro H== */
.introHContainer {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.embrace {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.theseWords {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.bulbAndOthers {
  width: 60%;
}

.swipeLeft {
  width: 60%;
}

/* ==Intro H== */
.finalTip {
  margin-left: -5px;
  margin-right: 15px;
}

.finalLi {
  margin-bottom: 10px;
}

.justLike {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.finalTips {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
