.MuiPaper-root {
  position: absolute;
  background-color: rgba(10, 131, 133, 0.801) !important;
  width: 250px;
  color: #f1faee !important;
}

.menuBtnContainer {
  position: absolute;
  margin-top: 15px;
  z-index: 2 !important;
}

.menuLogo {
  position: absolute;
  background-image: url("../imgs/teck.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 140%;
  left: 48%;
  transform: translate(-50%, -50%);
  height: 31%;
  width: 90%;
  opacity: 0.55;
}

.menuBtn {
  position: absolute;
  margin-top: 15px;
  background-image: url("../imgs/menuBtn.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  top: 5px;
  z-index: 2 !important;
}

.menuIconDiv {
  display: flex;
  justify-items: left;
  margin-top: 10px;
  margin-left: 5px;
  z-index: 0;
}

.navP {
  margin-left: 5px;
}

.navP:active {
  color: #e56b6f !important;
}

.navLink {
  color: #f1faee;
}

.menuIcon {
  height: 55px;
  margin-bottom: -10px;
}

.menuRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

.logOffDiv {
  display: grid;
  position: fixed;
  grid-template-columns: 25px 200px;
  align-items: center;
  bottom: 5px;
  left: 5px;
}

.logOutItem {
  padding: 5px !important;
}
