.MuiPaper-root {
  background: rgba(10, 131, 133, 0.801) !important;
  width: 250px;
  color: #f1faee !important;
}

.menuBtnContainer {
  height: fit-content;
  position: absolute;
  z-index: 50;
}

.menuLogo {
  margin-top: 10%;
  filter: sepia(120%);
  opacity: 60%;
}

.menuBtn {
  position: absolute;
  background-image: url("../imgs/menuBtn.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  top: 5px;
}

.menuIconDiv {
  display: flex;
  justify-items: left;
  margin-top: 10px;
  margin-left: 5px;
}

.navP {
  margin-left: 5px;
}

.navLink {
  color: #f1faee;
}

.menuIcon {
  height: 55px;
  margin-bottom: -10px;
}

.menuRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

.logOffDiv {
  display: grid;
  position: fixed;
  grid-template-columns: 25px 200px;
  align-items: center;
  bottom: 5px;
  left: 5px;
}

.logOutItem {
  padding: 5px !important;
}
